<div class="container">
    <div class="col-md-6 offset-md-3">
<h3 class="text-center">Register Employee</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Employee Name:</label>
        <input class="form-control" type="text" name="empName" [(ngModel)]="employee.empName" 
        formControlName="name">

        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">
                Employee Name is required**
            </div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
                Minimum 2 characters required**
            </div>
            <div *ngIf="f['name'].errors && f['name'].errors['maxlength']">
                Maximum 20 characters allowed**
            </div>
        </div>

    </div>
    

    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="employee.email" 
        formControlName="email">
        <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
                Email is required**
            </div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">
                Invalid email**
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Contact:</label>
        <input class="form-control" type="tel" name="contact" [(ngModel)]="employee.contact"
        formControlName="contact">
        <div *ngIf="f['contact'].touched && f['contact'].invalid" class="alert alert-danger">
            <div *ngIf="f['contact'].errors && f['contact'].errors['required']">
                Contact No. is required**
            </div>
            <div *ngIf="f['contact'].errors && f['contact'].errors['pattern']">
                Invalid contact no.**
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Designation:</label>
        <input class="form-control" type="text" name="designation" [(ngModel)]="employee.designation"
        formControlName="desg">
        <div *ngIf="f['desg'].touched && f['desg'].invalid" class="alert alert-danger">
            <div *ngIf="f['desg'].errors && f['desg'].errors['required']">
                Designation is required**
            </div>
            <div *ngIf="f['desg'].errors && f['desg'].errors['minlength']">
                Minimun 2 characters required**
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Salary:</label>
        <input class="form-control" type="number" name="salary" [(ngModel)]="employee.salary"
        formControlName="salary">
        <div *ngIf="f['salary'].touched && f['salary'].invalid" class="alert alert-danger">
            <div *ngIf="f['salary'].errors && f['salary'].errors['required']">
                Salary is required**
            </div>
            <div *ngIf="f['salary'].errors && f['salary'].errors['min']">
                Minimun salary must be ₹5000**
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>DOJ:</label>
        <input class="form-control" type="date" name="doj" [(ngModel)]="employee.doj"
        formControlName="doj">
        <div *ngIf="f['doj'].touched && f['doj'].invalid" class="alert alert-danger">
            <div *ngIf="f['doj'].errors && f['doj'].errors['required']">
                DOJ is required**
            </div>
        </div>
    </div >

    <div class="form-group">
        <label>User Name:</label>
        <input class="form-control" type="text" name="userName" [(ngModel)]="employee.userName"
        formControlName="user">

        <div *ngIf="f['user'].touched && f['user'].invalid" class="alert alert-danger">
            <div *ngIf="f['user'].errors && f['user'].errors['required']">
                User Name is required**
            </div>
            <div *ngIf="f['user'].errors && f['user'].errors['minlength']">
                Minimum 2 characters required**
            </div>
            <div *ngIf="f['user'].errors && f['user'].errors['maxlength']">
                Maximum 20 characters allowed**
            </div>
        </div>

    </div>

    <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" name="password" [(ngModel)]="employee.password"
        formControlName="pass">

        <div *ngIf="f['pass'].touched && f['pass'].invalid" class="alert alert-danger">
            <div *ngIf="f['pass'].errors && f['pass'].errors['required']">
                Password is required**
            </div>
            <div *ngIf="f['pass'].errors && f['pass'].errors['minlength']">
                Minimum 4 characters required**
            </div>
            <div *ngIf="f['pass'].errors && f['pass'].errors['maxlength']">
                Maximum 20 characters allowed**
            </div>
        </div>

    </div>

    <br>

    <button [disabled]="form.invalid" class="btn btn-success" type="submit">Submit</button>

</form>
</div>
</div>
